#navbar{
  width: 100%;
  height: 70px;
  background-color: #2e2e2eb6;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
}
#logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo-icon{
  width: 65px;
  /* height: 50px; */
}
#logo-text{
  color: #fab90c;
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-style: normal;
}
#toggle-and-switches{
  display: flex;
  align-items: center;
  justify-content: center;
}
#switches{
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}


