#footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  /* background-color: rgba(0, 0, 0, 0.4); */
  position: relative;
}
#developer-logo{
width: 130px;
}
#social-links{
  position: absolute;
  right: 10px;

}
a .social-link{
  color: black;
  width: 40px;
  height: 40px;
}
 .buttons-container{
display: flex;
    align-items: center;
} 
#developer-logo{
  margin-left: 5px;
}